*{
    margin: auto;
    background: #033b95;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

div.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

pre{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 18px;
}

nav a{
    text-decoration: none;
    color: #033b95;
    font-weight: bold;
}